.container{
    display: grid;
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.grade {
    text-align: center;
    color: white;
}

.grade-1 {
    background-color: green;
}

.grade-2 {
    background-color: blue;
}

.grade-3 {
background-color: red;
}

.grade-4 {
background-color: yellow;
}